@import url("reset.css");
html {
    font-size: 62.5% !important;
    letter-spacing: 1px;
}

body {
    font-family: "furore";
    background-color: #282828;
}

.pseudoHidden {
    opacity: 0;
}

.trueHidden {
    display: none;
}


/* fonts */

@font-face {
    font-family: "furore";
    src: url("Fonts/furore.ttf");
    font-family: "Neucha-Regular";
    src: url("Fonts/Neucha-Regular.ttf");
}


/* header */


/* upper line disign */

.line {
    width: 100%;
    height: 0.2rem;
}

.upper-line {
    background-color: #9a9a9a;
}

.title {
    font-size: 4.8rem;
    text-align: center;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


/* search */

.search-wrapper {
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    height: 7rem;
    width: 91rem;
    background-color: #191919;
}

.searchInput {
    margin-left: 1.5rem;
    height: 3.3rem;
    width: 71rem;
    border-radius: 1rem;
    font-size: 2.4rem;
    font-family: "furore";
    margin-right: 1.6rem;
    padding-left: 2rem;
    outline: none;
}

.searchTerm::placeholder {
    color: #6c6c6c;
}

.searchButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 126px;
    height: 36px;
}

.searchButton span {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #ff6600;
    font-family: "furore";
    font-size: 2.4rem;
    line-height: 2.8rem;
}


/* article and first section general questions */

.main-article {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.general-questions {
    width: 114rem;
}

.themes {
    width: 20rem;
    height: 4.3rem;
    background-color: #101010;
    border-radius: 1rem;
    font-size: 3.4rem;
    color: #fdc073;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 4rem;
}

.about-general-questions {
    color: #fff;
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.multicolor {
    font-size: 1.6rem;
}

.multicolor:first-child {
    color: #bb2222;
    text-decoration: underline;
}

.multicolor:nth-child(2) {
    color: #bb2222;
    text-decoration: underline;
}

.multicolor:nth-child(3) {
    color: #bb2222;
    text-decoration: underline;
}

.multicolor:nth-child(4) {
    color: #bb2222;
    text-decoration: underline;
}

.category-general {
    position: relative;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 400;
    font-family: "Press Start 2P";
    display: flex;
    align-items: center;
}

.arrow {
    cursor: pointer;
    margin-left: 1rem;
    border: solid #d52b2b;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    transition: 1s;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.general {
    background-color: #14c202;
}

.gq-nav {
    max-height: 2rem;
    overflow: hidden;
    transition: all 1s;
}

.gq-nav ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: 0.2s;
}

.targetHidden {
    transition: 1s;
}

.gq-nav li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
    color: #3e8d2e;
    font-size: 1.6rem;
}

.gq-nav li::before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
    color: #3e8d2e;
}


/*!!! Тут поравил!*/

.gq-nav li li::before {
    content: counters(item, ".") " ";
}

.gq-nav li a {
    color: #3e8d2e;
    /* Изменение при чекбоксе те закончен ответ - тип в золоте отлит ну ты понял */
}

.gq-nav li a:link {
    text-decoration: none;
}

.gq-nav li a:visited:active {
    color: #25571c;
}


/*Временно отключаю тк все линки ведут на эту страницу
/* .gq-nav li a:visited {
  color: #25571c;
} */

.complete-checkbox {}


/*Футер*/

.footer {
    flex-direction: column;
    height: 7rem;
    display: flex;
    align-items: center;
    align-content: center;
    min-width: 1140px;
    font-size: 15px;
}

.footer-line {
    background-color: #9a9a9a;
}


/*Лого*/

.logo {
    font-family: Neucha;
    font-weight: 500;
    font-size: 4.8rem;
    color: #ff8e00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


/*header*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.top-nav {
    display: flex;
    color: #fff;
    justify-content: space-around;
    width: 700px;
    font-size: 1.6rem;
}

.top-nav li a {
    text-decoration: none;
    color: inherit;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.tests:hover {
    color: #ff8e00
}

.tests {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.tests a {
    display: flex;
    align-items: center;
}

.tests img {
    margin-left: 1rem;
}

.random-interview:hover {
    color: #ff8e00
}

.random-interview {
    display: flex;
    align-items: center;
}

.random-interview a {
    display: flex;
    align-items: center;
}

.random-interview img {
    margin-left: 1rem;
}

.check-list:hover {
    color: #ff8e00
}

.check-list {
    display: flex;
    align-items: center;
}

.check-list a {
    display: flex;
    align-items: center;
}

.check-list a:last-child {
    width: 150px;
}

.check-list img {
    margin-left: 1rem;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.logo-link:visited:active {
    color: inherit;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.slogan {
    color: gray;
}

.overall-progress {
    width: 5rem;
    height: 5rem;
}

.text {
    line-height: 55px;
    font-size: 14px;
    margin-left: 40px;
}


/* START TOOLTIP STYLES */

[tooltip] {
    position: relative;
    /* opinion 1 */
}


/* Applies to all tooltips */

[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: 1.6rem;
    /* opinion 3 */
    font-weight: 500;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    /* opinion 4 */
    z-index: 1001;
    /* absurdity 1 */
}

[tooltip]::after {
    content: attr(tooltip);
    /* magic! */
    /* most of the rest of this is opinion */
    font-family: "Arial";
    text-align: center;
    /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
    min-width: 3rem;
    max-width: 21rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #fff;
    color: black;
    z-index: 1000;
    /* absurdity 2 */
}


/* Make the tooltips respond to hover */

[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}


/* don't show empty tooltips */

[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}


/* FLOW: DOWN */

[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 10px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}


/* KEYFRAMES */

@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}


/* FX All The Things */

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}


/* Коментарии (без тэга form тк боты на неё тригерятся)*/

#wrapper-comments {
    margin: 10% auto;
    width: 100%;
    max-width: 800px;
}

#hdcomments {
    border: 1px solid #eee;
    padding: 40px;
    color: gold;
}

#hdcomments *,
#hdcomments *:before,
#hdcomments *:after {
    box-sizing: border-box;
}


/* Быстрее чем .hdc label {} тк css читает с права на лево те выбирает
сначала все лейблы потом отсеивает по классу и если их много то и много
калькуляций */

.hdc_label {
    display: block;
    margin-bottom: 5px;
    color: white
}

.hdc_input {
    /* как вариант width: calc(100%-32px) без border-box */
    width: 100%;
    padding: 12px 16px;
    border: 1px solid burlywood;
}

#hd_comment_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-top: 20px;
}

#hdc_comment_footer {
    display: grid;
    grid-template-columns: 1fr 80px;
    align-items: center;
}

#hdc_reaction_title {}

.hdc_reaction {
    padding: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

.hdc_reaction:hover {
    border: 1px solid #ccc
}

.hdc_reaction_selected {
    border: 1px solid darkmagenta;
}

#hdc_submit {}

.hdc_submit {
    opacity: 0.4;
    transition: all 0.3;
}

.hdc_submit_enabled {
    opacity: 1;
    transition: all 0.3;
}

#hdc_comments {
    margin-top: 20px;
}

.hdcomment {
    border: 1px solid #eee;
    border-bottom: 3px solid #ccc;
    padding: 20px;
    margin-bottom: 12px;
}

.hdc_meta {
    display: grid;
    grid-template-columns: 1fr 80px;
}

.hdc_meta_date_autor {
    font-size: .85rem;
}

.hdc_meta_autor {
    margin-left: 22px;
    font-weight: bold;
}

.hdc_vote {
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 20px;
    align-items: center;
}

.hdc_vote_options {
    display: grid;
    grid-auto-columns: 1;
}

.hdc_upvote:hover {
    color: green;
    cursor: pointer;
}

.hdc_downvote:hover {
    color: red;
    cursor: pointer;
}

.hdc_vote_disabled {
    cursor: pointer;
    opacity: 0.2
}

.hdc_vote_selected {
    opacity: 0.5;
}

.hdc_upvote.hdc_vote_selected {
    color: green;
}

.hdc_downvote.hdc_vote_selected {
    color: red;
}